footer.clearfix.wrapper.app-footer
  h1 Onde nos encontrar?
  ul.list
    li.icon.facebook
      a(href="http://facebook.com/bolinhodecopo", target="_blank")
        img(src=path.assets.images+"/icones/facebook.png", alt="Facebook")
    li.icon.google-plus
      a(href="http://plus.google.com/b/115407635197632595818/115407635197632595818/posts", target="_blank")
        img(src=path.assets.images+"/icones/google-plus.png", alt="Google+")
    li.icon.twitter
      a(href="http://twitter.com/bolinhodecopo", target="_blank")
        img(src=path.assets.images+"/icones/twitter.png", alt="Twitter")
    li.icon.pinterest
      a(href="http://pinterest.com/bolinhodecopo", target="_blank")
        img(src=path.assets.images+"/icones/pinterest.png", alt="Pinterest")
    li.icon.instagram
      a(href="http://instagram.com/bolinhodecopo", target="_blank")
        img(src=path.assets.images+"/icones/instagram.png", alt="Instagram")
